# Configuração do Supabase (Apenas Chaves Públicas / Anon Key para o Frontend)
# NUNCA exponha a SUPABASE_SECRET_KEY aqui, pois ela dá acesso total e ignoraria as políticas de segurança RLS!
VITE_SUPABASE_URL=https://wizkszkiahqtuwsygter.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_OWiqfuWAcgTv-Kl-awjJgA_NhYS5iKj
